<div id="current-weather-item-comp" fxLayout="row" fxLayoutAlign="start center">
  <!-- <div *ngIf="weather.hour" fxFlex="10" [innerHTML]="weather.date | sanitizeHtml" class="weather-item date"></div> -->
  <!-- <div *ngIf="!weather.hour" fxFlex="15" [innerHTML]="weather.date | sanitizeHtml" class="weather-item date"></div>
    <div *ngIf="weather.hour" fxFlex="20" [innerHTML]="weather.hour | sanitizeHtml" class="weather-item hour"></div>
    <div fxFlex="10" [innerHTML]="weather.icon | sanitizeHtml" class="weather-item icon"></div>
    <div fxFlex="13" [innerHTML]="weather.temp | sanitizeHtml" class="weather-item temp"></div>
    <div fxFlex="12" [innerHTML]="weather.cloudiness | sanitizeHtml" class="weather-item cloudiness"></div>
    <div fxFlex="10" [innerHTML]="weather.rain | sanitizeHtml" class="weather-item rain"></div>
    <div fxFlex="10" [innerHTML]="weather.rainQuantity | sanitizeHtml" class="weather-item rainQuantity"></div>
    <div fxFlex="10" [innerHTML]="weather.wind | sanitizeHtml" class="weather-item wind"></div>

    <div fxFlex="20" fxLayout="column" class="weather-item">
        <div [innerHTML]="weather.windSpeed | sanitizeHtml" class="weather-item windSpeed"></div>
        <div [innerHTML]="weather.gust | sanitizeHtml" class="weather-item gust"></div>
    </div> -->
  <!-- <div [innerHTML]="weather.wet | sanitizeHtml" class="weather-item wet"></div>   -->
  <div [innerHTML]="weather && weather.icon | sanitizeHtml" class="weather-item icon"></div>

  <div fxFlex fxLayout="column" fxLayoutAlign="start start">
    En ce moment
  </div>

  <div fxLayout="column" fxLayoutAlign="start center">
      <div *ngIf="weather" [innerHTML]="weather && weather.temp | sanitizeHtml" class="weather-item temp"></div>

    <!-- <div fxFlex="10" [innerHTML]="weather.wind | sanitizeHtml" class="weather-item wind"></div> -->

  </div>
</div>