<ion-tabs no-border (ionSelect)="tabChanged($event)">

  <ion-tab-bar slot="bottom" color="primary-contrast">
    <!-- <div id="ion-tabs-wrapper"> -->

    <ion-tab-button tab="tab1" fxLayout="row" fxLayoutAlign="center center">
      <ion-icon name="partly-sunny"></ion-icon>
      <ion-label>Météo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" fxLayout="row" fxLayoutAlign="center center">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>7 Jours</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab5" fxLayout="row" fxLayoutAlign="center center">
      <ion-icon name="rainy"></ion-icon>
      <ion-label>Radar Pluie</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3" fxLayout="row" fxLayoutAlign="center center">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Résultats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" fxLayout="row" fxLayoutAlign="center center">
      <ion-icon name="time"></ion-icon>
      <ion-label>Départs</ion-label>
    </ion-tab-button>
    <!-- </div> -->

  </ion-tab-bar>

</ion-tabs>